.header {
  @extend %section;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  background-color: $header-bg-color;
  backdrop-filter: blur(10px);

  border-bottom: 1px solid #aaaaaa80;

  box-shadow: 0px 1px 3px #eeeeee34, 0px 1px 1px #aaaaaa34, 0px 2px 1px #eeeeee34;
}

.header__container {
  @extend %container;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 15px;

  @media screen and (min-width: 420px) {
    padding: 0 20px;
  }
}
