.header {
  @extend %section;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;

  background-color: $header-bg-color;
  backdrop-filter: blur(6px);

  border-bottom: 1px solid #aaaaaa80;

  transition: opacity $transition-timing $transition-function, transform $transition-timing $transition-function;

  &.is-hidden {
    opacity: 0;
    transform: translateY(-105%);
  }
}

.header__container {
  @extend %container;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 15px;

  @media screen and (min-width: 420px) {
    padding: 0 20px;
  }
}
