.settings-list {
  @extend %list;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  height: 100%;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 400px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.settings-list__item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 3px;
}

.label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.orientation {
  position: relative;

  width: 100%;
  height: 100%;
  padding: 0;

  cursor: pointer;

  border-width: 0;
}

.orientation__custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: $main-accent-color;

  opacity: 0;
  visibility: hidden;

  transition: opacity $transition-timing $transition-function, visibility $transition-timing $transition-function,
    color $transition-timing $transition-function;

  .orientation:hover &,
  .orientation:focus-within & {
    color: $secondary-accent-color;
  }

  .orientation__radio:checked + & {
    opacity: 1;
    visibility: initial;
  }
}

.orientation__icon {
  fill: currentColor;
}

.per-page__input {
  width: 40px;
  padding-top: 2px;

  font-size: 23px;
  letter-spacing: -1px;
  text-align: right;

  color: $main-accent-color;

  background-color: transparent;

  border-width: 0;

  outline: transparent;

  transition: color $transition-timing $transition-function, background-color $transition-timing $transition-function;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  &::selection {
    color: #fff;
    background-color: $secondary-accent-color;
  }

  &:hover,
  &:focus {
    color: $secondary-accent-color;
  }
}

.safe-search__custom-checkbox {
  display: block;

  font-size: 23px;

  color: $main-accent-color;

  transition: color $transition-timing $transition-function;

  .safe-search__checkbox:hover + &,
  .safe-search__checkbox:focus + & {
    color: $secondary-accent-color;
  }

  .safe-search__checkbox:checked + & {
    color: #a1a1a1;
  }

  .safe-search__checkbox:checked:hover + &,
  .safe-search__checkbox:checked:focus + & {
    color: #616161;
  }
}

.safe-search__type {
  transition: opacity $transition-timing $transition-function;

  &.on-change {
    opacity: 0;
  }
}

.label {
  margin-left: 5px;
  padding-top: 1px;

  font-size: 8px;

  color: $secondary-txt-color;

  text-transform: uppercase;

  transition: color $transition-timing $transition-function;

  .orientation:hover &,
  .orientation:focus-within &,
  .per-page__input:hover + &,
  .per-page__input:focus + &,
  .safe-search__checkbox:hover ~ &,
  .safe-search__checkbox:focus ~ & {
    color: $main-txt-color;
  }

  &--hiding {
    display: none;

    @media screen and (min-width: 400px) {
      display: block;
    }
  }
}
