.gallery {
  @extend %section;
}

.gallery__container {
  @extend %container;
}

.gallery__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 22px;

  width: 100%;

  @media screen and (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media screen and (min-width: 1600px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @media screen and (min-width: 2100px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.gallery__placeholder {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 18px;
  font-weight: 400;

  pointer-events: none;

  transform: translate(-50%, -50%);

  transition: opacity $transition-timing $transition-function, visibility $transition-timing $transition-function;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}
