.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 42px;

  border-width: 0;
  border-radius: 50%;

  color: #212121b0;
  background-color: #e6e6e6a0;
  backdrop-filter: blur(2px);

  outline: transparent;

  cursor: pointer;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: background-color $transition-timing $transition-function, color $transition-timing $transition-function,
    transform $transition-timing $transition-function, opacity $transition-timing $transition-function,
    visibility $transition-timing $transition-function;

  &:hover,
  &:focus {
    color: $secondary-accent-color;
    background-color: #fafafac0;

    transform: scale(1.1);
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;

    transform: translateX(95px);
  }
}

.scroll-to-top__icon {
  fill: currentColor;
}
