$main-font: 'Roboto', sans-serif;

$main-bg-color: #e6e6e6;
$header-bg-color: #e0e0e0c0;
$search-bg-color: #edededa0;
$card-bg-color: #f6f6f6;

$main-accent-color: #66a8ff;
$secondary-accent-color: #2d66b1;

$main-txt-color: #212121;
$secondary-txt-color: #818181;

$transition-timing: 200ms;
$transition-function: ease-in-out;
