$main-font: 'Roboto', sans-serif;

$main-bg-color: #e6e6e6;
$header-bg-color: #ffffffa0;
$serch-bg-color: #ffffffc0;
$card-bg-color: #f6f6f6;

$transition-timing: 200ms;
$transition-function: ease-in-out;
